.btn-float.butcomponent {
    background: #292727;
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 15px;
    margin: none;
    padding: 10px 10px 9px 10px;
    width: 125px;
    font-family: avenir;
}
/*#backbutton {
  background: ;
  text-decoration: none;
  color: white;
  display: inline-block;
  font-size: 15px;
  margin: none;
  padding: 10px 10px 9px 10px;
  width: 125px;
  font-family: avenir;
}*/