#backbutton {
    float: left;  
}
.nav-center {
    display: inline;
    float: none;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.thoughts3 {
    font-size: 25px;
    font-family: avenir;
}