#backbutton {
    float: left;
    background-color: #292828;
}
.nav-center {
    display: inline;
    float: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}